*{
    padding:0;
    margn:0;
}

.body{
    background: url("download.jpg");
    min-height: 100%;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}
#container{
    background: url("C:\Users\jmd\OneDrive\Desktop\New folder\image\800px_COLOURBOX4905146.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}
#board{
   background: linear-gradient(#000000);
   width: 90vmin;
   height: 90vmin;
   display: grid;
   grid-template-rows: repeat(20,1fr);
   grid-template-columns: repeat(20,1fr);
}

.head{
    background-color: red;
}

.food{
    background-color: blueviolet;
    
}